/* login and register */
#login-register {
  background-color: #f5f0e6; 
}

.login-register-wrapper {
  padding-bottom: 200px;
}

@media (max-width: 576px) {
  .login-register-wrapper {
    padding-bottom: 0;
  }
}

/* navbar */
.custom-btn:hover {
  background-color: #ddd !important;
  color: black !important;
  border-color: black !important;
}