* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333;
  line-height: 1.6;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    max-width: 1500px;
}